extends layout

block content
  .main.container.text-xs-center
    h1.display-3 New Post
    br
    div(class='btn-group')
      a(class='btn btn-info  disabled')
        i(class='fa fa-pencil-square' style='width:16px; height:24px')
      a(class='btn btn-info ' href='/posts/newRecipe' style='width:12em;') Recipe
    br
    br
    div(class='btn-group')
      a(class='btn btn-info  disabled')
        i(class='fa fa-pencil-square' style='width:16px; height:24px')
      a(class='btn btn-info ' href='/posts/newChronicle' style='width:12em;') Chronicle
    br
    br
    div(class='btn-group')
      a(class='btn btn-info  disabled')
        i(class='fa fa-pencil-square' style='width:16px; height:24px')
      a(class='btn btn-info ' href='/posts/newIdea' style='width:12em;') Idea
    br
    br
    div(class='btn-group')
      a(class='btn btn-info  disabled')
        i(class='fa fa-pencil-square' style='width:16px; height:24px')
      a(class='btn btn-info ' href='/posts/newBirth' style='width:12em;') Birth
    br
    br
    div(class='btn-group')
      a(class='btn btn-info  disabled')
        i(class='fa fa-pencil-square' style='width:16px; height:24px')
      a(class='btn btn-info ' href='/posts/newPhoto' style='width:12em;') Photo
    br
    br
    div(class='btn-group')
      a(class='btn btn-info  disabled')
        i(class='fa fa-pencil-square' style='width:16px; height:24px')
      a(class='btn btn-info ' href='/posts/newSportsRegistry' style='width:12em;') Sports Registry
    br
    br
    div(class='btn-group')
      a(class='btn btn-info  disabled')
        i(class='fa fa-pencil-square' style='width:16px; height:24px')
      a(class='btn btn-info ' href='/posts/newAcademicRegistry' style='width:12em;') Academic Registry
    br
    br
    div(class='btn-group')
      a(class='btn btn-info  disabled')
        i(class='fa fa-pencil-square' style='width:16px; height:24px')
      a(class='btn btn-info ' href='/posts/newThought' style='width:12em;') Thought
    br
    br
    div(class='btn-group')
      a(class='btn btn-info  disabled')
        i(class='fa fa-pencil-square' style='width:16px; height:24px')
      a(class='btn btn-info ' href='/posts/newWedding' style='width:12em;') Wedding
    br
    br
    div(class='btn-group')
      a(class='btn btn-info  disabled')
        i(class='fa fa-pencil-square' style='width:16px; height:24px')
      a(class='btn btn-info ' href='/posts/newAcademicWork' style='width:12em;') Academic Work